*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;

}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #92e6ec, #36ec73);
}


.calculator{
    border: 1px solid #f73c3c;
    padding: 20px;
    border-radius: 17px;
    background: rgb(142, 206, 223);
    box-shadow: 0px 3px 16px whitesmoke;
}
input{
    width: 320px;
    border: rgba(63, 56, 56, 0.829);
    padding: 24px; ;
    margin: 10px;
    background: white;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: rgb(15, 14, 14);
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(63, 56, 56, 0.4);
    cursor: pointer;
}
.equalbt{
    background-color: orange;

}
.clearbt{
    background-color: #f73c3c;
}
.delbt{
    background-color: #f73c3c;
}
.Operator{
    color: green;
}
